.dashboard-heading{
  margin-left: 39px;
      margin-top: 28px;
      font-size: 2em;
      font-family: Open Sans, sans-serif;
      font-weight: bold;
}
/* .card-ranbow{
  width: 100%;
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin-left: 35px;
} */
